.button{
    width: 45%;
    height: 50px;
    border: 0;
    background: white;
    color: black;
    border-radius: 50vw;
    font-weight: 500;
    font-size: 24px;
}

.button:hover{
    cursor: pointer;
}

@media (width < 420px){
    .button{
        font-size: 15px;
    }
}